article{
    margin: 1.5em;
    border: 2px solid #c5c5c5;
    border-radius: 10px;
    background-color: #F3F3F3;
    display: flex;
    padding: 1em;
}

article:hover{
    background-color: #af7d3b18;
}

article h1{
    text-align: center;
    margin: 1em;
    font-size: larger;
}

article a{
    text-decoration: none;
    color: black;
}

article a:hover{
    color: #855d28;
}

article div{
    margin-left: 2em;
}

article img{
    float: left;
    margin: 2em;
}